.custom {
  margin-block: 50px 24px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.custom p:nth-child(2) {
  color: var(--text-heading);
  font: var(--heading-sm);
}

.custom p:last-child {
  margin-top: 24px;
  flex-basis: 100%;
}


#colors-container {
  display: flex;
  justify-content: space-around;
}


.color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  outline: 8px solid var(---shape-button);
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}


.color:hover {
  outline: 8px solid var(--shape-hover);
}


.color.selected::after {
  content: "";
  position: absolute;
  top: -8px; 
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 2px solid var(--brand-light); 
  border-radius: 50%;
  pointer-events: none; 
}
