#first-section {
  margin-top: 5rem;
}

#first-section > h2 {
  margin-bottom: 40px;
  font: var(--heading-md);
  color: var(--text-heading);
}

fieldset {
  border: none;
}

legend {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

span {
  color: var(--text-heading);
  font: var(--heading-sm);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 12px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  height: 48px;
  padding-left: 16px;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  font: var(--body-md);
  color: white;
}

.input-wrapper input:focus {
  outline: none; /* Remove a linha de contorno */
  border: 1px solid var(--brand-light); /* Borda visível */
}

.flex input:focus {
  outline: none; /* Remove a linha de contorno */
  border: 1px solid var(--brand-light); /* Borda visível */
}

input[type="text"]::placeholder {
  color: var(--input-placeholder);
}

input[type="datetime-local"] {
  width: 100%;
  height: 48px;
  padding-left: 16px;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  font: var(--body-md);
  color: var(--input-placeholder);
  text-transform: uppercase;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
} 




.description {
  margin-top: 16px;
}

.description > input {
  height: 8.5rem;
}

/*ESTILOS DO INPUT PRESENCIAL/ONLINE */

.toggle-box {
  margin-top: 12px;
  display: flex;
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  overflow: hidden;
  height: 48px;
  padding: 3px;
}

.toggle-box input {
  display: none;
}

.toggle-box label {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  gap: 8px;
}

.toggle-box input:checked + label {
  background-color: #2d3136;
  color: white;
}

.toggle-box label img {
  filter: grayscale(
    100%
  ); /* Ícones não selecionados ficam em escala de cinza */
  transition: filter 0.3s, transform 0.3s;
}

.toggle-box label.selected img {
  filter: grayscale(
    0%
  ); /* Remove o efeito de escala de cinza no ícone selecionado */
  transform: scale(1.1); /* Opcional: aumenta o ícone selecionado */
}
