.custom {
  margin-block: 50px 24px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.custom p:nth-child(2) {
  color: var(--text-heading);
  font: var(--heading-sm);
}

.custom p:last-child {
  margin-top: 24px;
  flex-basis: 100%;
}


#colors-container {
  display: flex;
  justify-content: space-around;
}


.color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  outline: 8px solid var(---shape-button);
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}


.color:hover {
  outline: 8px solid var(--shape-hover);
}


.color.selected::after {
  content: "";
  position: absolute;
  top: -8px; 
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 2px solid var(--brand-light); 
  border-radius: 50%;
  pointer-events: none; 
}

/* PARTE DOS TEMAS */

#themes p {
  margin-block: 38px 16px;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-right: auto;
}

#themes {
  display: grid;
  grid-template-columns: repeat(4, 134px);
  gap: 8px;
}

.theme {
  height: 103px;
  padding: 4px;
  justify-items: center; 
  background-color: var(---shape-button);
  border-radius: 8px;
  



  cursor: pointer;
  border: 1px solid #363B40;
  
  transition: 0.2s linear;

  img {
    width: 126px;
    height: 64px;
  }

  figcaption {
    
    padding-block: 8px;
    font: var(--body-sm);
  }
}

.theme:hover {
  background-color: var(--shape-hover);
}


.card-checked {
  border: 2px solid var(--brand-light);
}



/* PARTE DO MODE DARK/LIGHT E FOTO DE CAPA */

#mode {
  margin-top: 1.75rem;
  display: flex;
  gap: 16px;

  span {
    font: var(--body-sm);
    color: var(--text-body);
  }

  span:nth-child(1) {
    display: block;
    margin-bottom: 20px;
  }
}

/* ESTILIZANDO BOTÃO */
#style-mode{
  width: 11rem;
  height: 4.93rem;
}


.button {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}


#style-mode input[type="checkbox"] {
  appearance: none;
  width: 62px;
  height: 32px;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 20px;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#style-mode input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: calc(50% - 24px/2);
  left: 4px;
  width: 24px;
  height: 24px;
  background-color: var(--input-stroke);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

#style-mode input[type="checkbox"]:checked {
  background-color: var(--brand-light);
  border: none;
}

#style-mode input[type="checkbox"]:checked::before {
  transform: translateX(30px);
}



/* INPUT DE IMAGEM */
#image-input {
  display: grid;
  grid-template-columns: 129px 247px;
  grid-template-rows: 1fr 1fr;

  span:nth-child(1) {
    margin-bottom: 12px;
    grid-row: 1/2;
  }

    span:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    color: var(--input-placeholder);
  }
}


#select {
  grid-column: 1/2;
  display: flex;
  gap: 8px;
  width: 119px; 
  height: 40px; 
  background-color: var(---shape-button);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  img {
    height: 16px;
    width: 16px;
  }
}

#select:hover {
  background-color: var(--shape-hover);
}


