#terms {
  display: flex;
  flex-direction: column;
  
  img {
    width: 16px;
    height: 16px;
  }

  label {
    display: flex;
    align-items: center;
    gap: 12px;
    /* font: var(--body-sm); */
    font-weight: 800;

    strong {
      color: var(--brand-light);
      text-decoration: underline;

    }
  }

  input[type="checkbox"] {
    display: none;
    transition:  0.3s ease;
  }
  
}

input[type="checkbox"]:not(:checked) + img {
    content: url('../assets/icons/box-unchecked.svg');
    transition: opacity 0.3s ease;
  }

  /* Estilo para a imagem quando o checkbox está marcado */
  input[type="checkbox"]:checked + img {
    content: url('../assets/icons/box-checked.svg');
  }